.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

.subversion/
.bash_history
.cache/
.config/
.local/
.texlive2021/

_main.tex

/.quarto/

*_files/
*_cache/

_book/
rsconnect/

data-raw/
code/poisson_log_glm
code/gaussian_process_simu
code/gaussian_process_fitted
code/multi_normal_simu
code/multi_normal_fitted

*.log
*-tikzDictionary
*.aux

data/TWN_elv_msk.tif
data/gadm41_TWN_1_pk.rds
data/bernoulli_logit_glm.RData
data/GMB_elv_msk.tif
data/gadm41_GMB_2_pk.rds
data/gadm41_MHL_1_pk.rds
