.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

data-science-in-action.tex
_main.tex

/.quarto/

*_files/
*_cache/

_book/
rsconnect/

data-raw/
code/state_x77
code/plant_growth

*.log
*-tikzDictionary

data/TWN_elv_msk.tif
data/gadm41_TWN_1_pk.rds
